Source: kdsoap-ws-discovery-client
Section: libs
Priority: optional
Maintainer: Marc Leeman <m.leeman@televic.com>
Build-Depends: debhelper (>= 10),
                cmake,
                extra-cmake-modules,
                qtbase5-dev,
                libkdsoap-dev,
Standards-Version: 4.3.0
Vcs-Git: https://github.com/mleeman/kdsoap-ws-discovery-client.git
Vcs-Browser: https://github.com/mleeman/kdsoap-ws-discovery-client

Package: libkdsoap-ws-discovery-client0
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: KDSoap WS-Discovery client
 This project is trying to create a WS-Discovery client library based
 on the KDSoap library. It uses modern C++ 11 and Qt 5. The initial
 development is done for ONVIFViewer, a ONVIF camera viewer. However
 the library is designed to be useful as a generic WS-Discovery client.

Package: libkdsoap-ws-discovery-client-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libkdsoap-ws-discovery-client0 (= ${binary:Version}),
Description: KDSoap WS-Discovery client development files
 This project is trying to create a WS-Discovery client library based
 on the KDSoap library. It uses modern C++ 11 and Qt 5. The initial
 development is done for ONVIFViewer, a ONVIF camera viewer. However
 the library is designed to be useful as a generic WS-Discovery client.
 .
 This package contains the header files and development files.

